@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200;1,300&display=swap');
@import 'variaveis.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;
  }

* {
  font-family: 'MontSerrat', sans-serif;
  box-sizing: border-box;
}

.flex{
  display: flex;

  &-center{
    justify-content: center;
    align-items: center;
  }
}
